---
---

@import "{{ site.theme }}";
.button {
    background-color: #3e2723; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.download_button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
  
.download_button:hover {
    background-color: #4caf50;
    border: 2px solid #4caf50;
}